body {
    /*color: #8f8f8f;*/
    font: 12px Tahoma, sans-serif;
    background-color: #ababab;
    border-top: 5px solid #7e7e7e;
    margin: 0;
}
input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #b2b2b2;
    padding: 0 10px;
    vertical-align: top;
}
button {
    color: #fff;
    background-color: #f6731c;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}
p {
    margin: 20px 0;
}
#wrapper {
    max-width: 50%;
    margin: auto;
}
aside{
    background-color: #ababab;
}
header {
    padding: 5px;
    background-color: #f6731c;
}

nav {
    background-color: #7eb105;
}

nav a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 14px 'Oswald', sans-serif;
    padding: 10px;
}

.top-menu li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.top-menu li.active {
    background: #29c5e6;
    color: #fff;
}

.top-menu a {
    color: #e7e7e7;
}

.price {
    /*color: #f6731c;*/
}

.producer{
    color: #135a5c;
}

section {
    width: 75%;
    /*margin-right: 25%;*/
    /*padding-bottom: 50px;*/
}

.section-item {
    background-color: antiquewhite;
    padding: 10px;
}
.producer-item {
    color: #135a5c;
}

.image-item {
    color: #135a5c;
    text-align: center;
}

#heading {
    background-color: #ababab;
    padding-left: 10px;
    height: 20px;
    font: 14px Tahoma, sans-serif;
}


/*==============================================*/
figure {
    display: table-cell;
    /*margin: 0;*/
    font-family: 'Oswald', sans-serif;
    height: 100px;
    /*font-weight: 300;*/
}

/*==============================================*/
.flex-container {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    margin-left: 500px;
    padding: 10px;
    background: gold;
    border-radius: 10px;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-item {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    margin: 10px;
    padding: 5px;
    background: tomato;
    border-radius: 5px;
    border: 1px solid #FFF;
    width: 23%;
}
.flex-item:before {
    /*display: block;*/
    line-height: 1.5em;
    margin: 5px auto;
    text-align: center;
    background: ivory;
    border-radius: 50%;
}

/*.info, .price, .name {*/
    /*box-sizing: border-box;*/
/*}*/

/*==============================================*/

.header-section {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header-section li {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.logo {
    width: 25%;
}
.search {
    width: 40%;
}
.contacts {
    width: 18%;
}
.time{
    font: 14px Tahoma, sans-serif;
    font-weight: bold;
}
.phone{
    font: 14px Tahoma, sans-serif;
}
.shopping-cart {
    width: 11%;
}

.base {
    /*make it 100% width and a minimum of 1000px width*/
    /*width: 700px;*/
    margin-left: 0px;
    margin-right: 0px;
    /*min-width: 1000px;*/
    padding: 0px;
    display:table;
    height: 100%;
    position: relative;
    background-color: antiquewhite;
}
.base-row {
    display: table-row;
}
.base li {
    display: table-cell;
    width: 25%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ababab;
    height: 350px;
    position: relative;
}

.item-container {
    height: 100%;
    position: relative;
}
.image {
    /*margin-left: 28%;*/
    text-align: center;
    height: 71%;
}
.producer {
    height: 5%;
}
.name {
    height: 17%;
    overflow: auto;
    position: relative;
}
.price {
    height: 7%;
    font: 20px Tahoma, sans-serif;
    font-weight: bolder;
    color: #f6731c;
    /*position: absolute;*/
    /*bottom: 0;*/
}